# Bỏ qua các file hệ thống
.DS_Store
Thumbs.db

# Bỏ qua thư mục ảo & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua các thư mục của môi trường ảo
venv/
.env/
*.venv

# Bỏ qua model lớn & file upload
models/*.h5
models/*.pb
uploads/*

# Bỏ qua file Streamlit cache
.streamlit/

# Bỏ qua log & output tạm thời
logs/
*.log
debug.log

# Bỏ qua file cấu hình IDE
.vscode/
.idea/
*.iml
